<extend name="Public:base" />
<block name="style">
    <style>
        video{width:100%;}
        audio{width:100%;}
    </style>
</block>
<block name="body">
    <section class="wrap wrap-bg">
        <div class="foot_fixed">
            <div class="table jump_bot yellow">
                <a href="{:U('Wx/Index/index')}" class="table-cell fs16">首页</a>
                <a href="javascript:;" class="table-cell fs16 col3">
                    <div class="m-list-flex">
                        <div class="dif_price">
                            <b>兑换积分:{$goods.integral_price}</b>
                        </div>
                        <i onclick="exchange()" class="m-cell-bd">立即兑换</i>
                    </div>
                </a>
            </div>
        </div>
        <section class="main">
            <div id="video" class="relative<?php if($goods['type'] == 'video'): ?> play<?php endif; ?>">
                <img src="__CDN__{$goods.thumb}" alt="" class="imgm" />
            </div>
            <div class="details_out relative">
                <h1 class="fs16">{$goods.name}<?php if(isset($goods_type_list[$goods['type']])): ?><i class="{$goods.type}">{$goods_type_list[$goods['type']]}</i><?php endif; ?></h1>
                <!--<div class="collect">收藏</div>-->
            </div>
            <div class="pl10 pr10 pb10 fs14 col_c">
                {:html_entity_decode($goods['content'])}
            </div>
        </section>
    </section>
    <div class="bg_pop hide" id="exchange-mask-bg"></div>
    <div class="pay_pop hide" id="exchange-mask-div">
        <h3 class="fs20 col3 tc">兑换提示</h3>
        <p class="fs14 col3 mt5">尊敬的用户，该内容需要兑换才能查看详情，是否兑换？</p>
        <div class="payok mt20">
            <a href="javascript:;" onclick="exchange()" class="fs14">立即兑换</a>
        </div>
        <span class="close" onclick="closeExchangeMask()"></span>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/plugins/ckplayer/ckplayer.js"></script>
    <script src="__PUBLIC__/Common/js/utils.js"></script>
</block>
<block name="script">
    <script>
        var id = {$goods.id};
        var type = '{$goods.type}';
        var player;
        var videoObject = {
            container: '#video',
            variable: 'player',
            poster: '__CDN__{$goods.thumb}',
            video: '__CDN__{$goods.file}',
            autoplay: true
        };
        function checkVideo() {
            $.showLoading();
            $.post("{:U('Wx/Goods/checkVideo2')}", {id: id}, function (data) {
                $.hideLoading();
                if (data.status === 1) {
                    if (data.info == 1) {
                        playVideo();
                    } else if (data.info == 2) {
                        openExchangeMask();
                    }
                } else {
                    $.alert(data.info);
                }
            });
        }
        function playVideo() {
            $('#video').removeClass('play');
            player = new ckplayer(videoObject);
        }
        function exchange() {
            $.showLoading();
            $.post("{:U('Wx/IntegralOrder/create')}", {goods_id: id}, function (data) {
                $.hideLoading();
                if (data.status === 1) {
                    $.alert(data.info);
                } else {
                    $.alert(data.info);
                }
            });
        }
        $(function () {
            $('#video').on('click', function () {
                if (type == 'video') {
                    checkVideo();
                }
            });
        });
    </script>
</block>