<extend name="Public:base" />
<block name="body">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">用户留言</li>
        </ul>
        <div class="layui-tab-content">
            <form class="layui-form layui-form-pane" action="{:U('Admin/Message/index')}" method="get">
                <div class="layui-form-pane">
                    <div class="layui-inline">
                        <label class="layui-form-label">留言时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="start_date" id="start_date" value="{$start_date}" class="layui-input layer-date" placeholder="请选择开始日期">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="end_date" id="end_date" value="{$end_date}" class="layui-input layer-date" placeholder="请选择结束日期">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">搜索</button>
                        <a href="{:U('Admin/Message/index')}" class="layui-btn layui-btn-normal">重置</a>
                    </div>
                </div>
            </form>
            <hr>
            <form action="" method="post" class="ajax-form">
                <button type="button" class="layui-btn layui-btn-danger layui-btn-small ajax-action" data-action="{:U('Admin/Message/delete')}">批量删除</button>
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="width:15px">
                                    <input type="checkbox" class="check-all">
                                </th>
                                <th>用户</th>
                                <th>手机号码</th>
                                <th>留言内容</th>
                                <th>留言时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="message_list" id="vo">
                            <tr>
                                <td>
                                    <input type="checkbox" name="ids[]" value="{$vo.id}">
                                </td>
                                <td>
                                    <div class="layui-input-inline" style="padding:10px">
                                        <img src="{:get_user_avatar($vo['avatar'])}" alt="{$vo.nickname}" width="50">
                                    </div>
                                    <div class="layui-input-inline">
                                        <p class="ptb2">昵称：{$vo.nickname}</p>
                                    </div>
                                </td>
                                <td>{$vo.mobile}</td>
                                <td>{$vo.content}</td>
                                <td>{$vo.create_time}</td>
                                <td>
                                    <a href="{:U('Admin/Message/delete',['ids'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-get">删除</a>
                                </td>
                            </tr>
                            </volist>
                        </tbody>
                    </table>
                    {$page}
                </div>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function(){
            var start = {
                elem: '#start_date',
                min: '1900-01-01',
                max: '{$today_date}',
                istoday: false,
                choose: function (datas) {
                    end.min = datas;
                    end.start = datas;
                }
            };
            var end = {
                elem: '#end_date',
                min: '1900-01-01',
                max: '{$today_date}',
                istoday: false,
                choose: function (datas) {
                    start.max = datas;
                }
            };
            document.getElementById('start_date').onclick = function(){
                start.elem = this;
                laydate(start);
            };
            document.getElementById('end_date').onclick = function(){
                end.elem = this;
                laydate(end);
            };
        });
    </script>
</block>