<extend name="Public:base" />
<block name="body">
    <section class="wrap wrap-bg" style="padding-bottom:50px">
        <section class="main">
            <ul>
                <li class="buy_course m-list-flex">
                    <div>
                        <label class="goods">
                            <input type="checkbox" name="goods" class="weui-check" />
                            <div class="check-main"></div>
                        </label>
                    </div>
                    <div class="pic-view">
                        <img src="images/buy1.png" alt="" class="imgm" />
                    </div>
                    <div class="m-cell-bd pl10">
                        <h3 class="fs116 colf">超紧身健身女性均码全棉运 动裤运动衣</h3>
                        <h4 class="fs12">心理 <i></i>情感<i></i>励志</h4>
                        <h5 class="fs16 mt5"><i class="fs12">￥</i>98</h5>
                    </div>
                </li>
            </ul>
            <div class="topay_bottom m-list-flex">
                <div class="pl15">
                    <label class="goodsall">
                        <input type="checkbox" name="goodsall" class="weui-check" />
                        <div class="check-main">全选</div>
                    </label>
                </div>
                <div class="m-cell-bd single-line fs10 tr pr10">合计： <i class="fs14">198元</i></div>
                <a href="javascript:;" class="topay_btn">去结算</a>
            </div>
        </section>
    </section>
</block>