<extend name="Public:base" />
<block name="body">
    <section class="wrap wrap-bg">
        <section class="main">
            <ul class="mt15">
                <li class="relative">
                    <a href="javascript:;" class="buy_course m-list-flex bg_own relative">
                        <div class="pic-view ml0">
                            <img src="images/buy1.png" alt="" class="imgm" />
                        </div>
                        <div class="m-cell-bd pl10">
                            <h3 class="fs116 colf">超紧身健身女性均码全棉运 动裤运动衣</h3>
                            <h4 class="fs12">心理 <i></i>情感<i></i>励志</h4>
                            <h5 class="fs16 mt5"><i class="fs12">￥</i>98</h5>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </section>
</block>