<extend name="Public:base" />
<block name="body">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li><a href="{:U('Admin/BasicConfig/webConfig')}">网站设置</a></li>
            <li><a href="{:U('Admin/BasicConfig/seoConfig')}">SEO设置</a></li>
            <li><a href="{:U('Admin/BasicConfig/copyright')}">版权</a></li>
            <li><a href="{:U('Admin/BasicConfig/visitConfig')}">运营</a></li>
            <li><a href="{:U('Admin/BasicConfig/regAndVisit')}">注册与访问</a></li>
            <li><a href="{:U('Admin/BasicConfig/uploadConfig')}">上传设置</a></li>
            <li class="layui-this">第三方登录</li>
            <li><a href="{:U('Admin/BasicConfig/notify')}">通知系统</a></li>
            <li><a href="{:U('Admin/BasicConfig/databaseConfig')}">数据库设置</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:U('Admin/BasicConfig/partyLogin')}" method="post">
                    <!--
                    第三方登录 	                                                                          状态 	操作
                    微信登录，提示：使用该功能需申请微信开放平台网站应用 链接：https://open.weixin.qq.com            配置
                    qq登录，提示：使用该功能需申请QQ互联 链接：https://connect.qq.com                               配置
                    等等等等......
                    -->
                </form>
            </div>
        </div>
    </div>
</block>