<extend name="Public:base" />
<block name="body">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li><a href="{:U('Admin/BasicConfig/webConfig')}">网站设置</a></li>
            <li><a href="{:U('Admin/BasicConfig/seoConfig')}">SEO设置</a></li>
            <li><a href="{:U('Admin/BasicConfig/copyright')}">版权</a></li>
            <li class="layui-this">运营</li>
            <li><a href="{:U('Admin/BasicConfig/regAndVisit')}">注册与访问</a></li>
            <li><a href="{:U('Admin/BasicConfig/uploadConfig')}">上传设置</a></li>
            <li><a href="{:U('Admin/BasicConfig/partyLogin')}">第三方登录</a></li>
            <li><a href="{:U('Admin/BasicConfig/notify')}">通知系统</a></li>
            <li><a href="{:U('Admin/BasicConfig/databaseConfig')}">数据库设置</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:U('Admin/BasicConfig/visitConfig')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">会员数量</label>
                        <div class="layui-input-inline">
                            <input type="number" name="member_count" value="{$visit_config.member_count}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">人</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>