<div class="foot_fixed table footer">
    <a href="{:U('Wx/Index/index')}" class="table-cell fs10<?php if($controller == 'Index'): ?> active<?php endif; ?>"><i class="fi-1"></i>首页</a>
    <a href="{:U('Wx/Goods/index')}" class="table-cell fs10<?php if($controller == 'Goods' && $action == 'index'): ?> active<?php endif; ?>"><i class="fi-2"></i>课程</a>
    <a href="{:U('Wx/Goods/integral')}" class="table-cell fs10<?php if($controller == 'Goods' && $action == 'integral'): ?> active<?php endif; ?>"><i class="fi-2"></i>积分商城</a>
    <!--<a href="{:U('Wx/Cart/index')}" class="table-cell fs10<?php if($controller == 'Cart'): ?> active<?php endif; ?>"><i class="fi-3"></i>购物车</a>-->    
    <a href="{:U('Wx/User/index')}" class="table-cell fs10<?php if($controller == 'User'): ?> active<?php endif; ?>"><i class="fi-4"></i>我的</a>
</div>