<extend name="Public:base" />
<block name="body">
    <section class="wrap wrap-bg">
        <section class="main">
            <div class="table mtabs">
                <a href="javascript:;" data-type="1" class="nav-item table-cell fs14<?php if($type == 1): ?> active<?php endif; ?>">获取明细</a>
                <a href="javascript:;" data-type="2" class="nav-item table-cell fs14<?php if($type == 2): ?> active<?php endif; ?>">提现明细</a>
            </div>
            <div class="myscroll">
                <ul class="demlist mt15" id="data-list">
                    
                </ul>
                <div class="myscroll-empty hide">
                    <p class="empty-tip">暂无数据</p>
                </div>
                <div class="myscroll-upwarp myscroll-hardware">
                    <p class="upwarp-progress myscroll-rotate"></p>
                    <p class="upwarp-tip">加载中..</p>
                </div>
            </div>
        </section>
    </section>
</block>
<block name="script">
    <script>
        var page = 1;
        var curType = 1;
        var isUpScrolling = false;
        var noMoreData = false;
        function getListData() {
            if (isUpScrolling || noMoreData) {
                return;
            }
            isUpScrolling = true;
            $('.myscroll-upwarp').css('visibility', 'visible');
            $.get("{:U('Wx/Money/getListData')}", {type:curType,page:page}, function (data) {
                isUpScrolling = false;
                if (data.status == 1) {
                    var listData = data.info;
                    if (listData.total_page == 0) {
                        $('.myscroll-upwarp').css('visibility', 'hidden');
                        $('.myscroll-empty').show();
                        noMoreData = true;
                    } else if (listData.total_page <= listData.current_page) {
                        $('.myscroll-upwarp').html('<p class="upwarp-nodata">-- 已经全部加载完毕 --</p>');
                        noMoreData = true;
                    } else {
                        page++;
                    }
                    listData.root && setListData(listData.root);
                }
            });
        }
        function resetUpScroll(){
            page = 1;
            noMoreData = false;
            $('#data-list').html('');
            $('.myscroll-empty').hide();
            $('.myscroll-upwarp').html('<p class="upwarp-progress myscroll-rotate"></p><p class="upwarp-tip">加载中..</p>').css('visibility', 'visible');
            getListData();
        }
        function setListData(curPageData) {
            var html = '';
            for (var i in curPageData) {
                var data = curPageData[i];
                html += '<li class="m-list-flex">';
                html += '<div class="m-cell-bd">';
                html += '<h3 class="single-line fs16 col_own">' + data.title + '</h3>';
                html += '<h4 class="single-line fs12 col9">' + data.description + '</h4>';
                html += '</div>';
                html += '<div class="tr">';
                html += '<h3 class="single-line fs16 col_own">' + data.money + '</h3>';
                html += '<h4 class="single-line fs12 col9">' + data.create_time + '</h4>';
                html += '</div>';
                html += '</li>';
            }
            $('#data-list').append(html);
        }
        $(function(){
            getListData();
            $(window).bind('scroll', function() {
                checkUpScrolling();
            });
            $('.nav-item').on('click', function () {
                var $this = $(this),
                    type = $this.data('type');
                if (type != curType) {
                    $this.addClass('active').siblings().removeClass('active');
                    curType = type;
                    resetUpScroll();
                }
            });
        });
    </script>
</block>