<extend name="Public:base" />
<block name="body">
	<section class="main min100vh"style="background-repeat: no-repeat;background-size: 100% auto;background-position: bottom center;background-image: url(__PUBLIC__/Home/images/login_bg.png);">
		<div class="wrap-flex">
			<div class="bd">
				<img src="__PUBLIC__/Home/images/lala.png" alt="" class="logoimg imgm"/>
				<p class="slogan font">高薪无忧</p>
			</div>
			<div class="flex_bottom tc">
				<a href="{:U('Wx/index/index')}" class="block"  style="margin-bottom:78px;"><img src="__PUBLIC__/Home/images/btn1.png" alt="" class="btn imgm"/></a>
				<p class="fs13 agp">
					<i class="check_p brarc"style="display:none"></i>
					<img src="__PUBLIC__/Home/images/checked.png" alt="" class="checkedcs " />
					<span>已阅读并同意</span> <a href="javascript:;" class="fs13">高薪无忧服务协议</a>
				</p>
			</div>
		</div>	
	</section>
	<!-- main end -->
</block>


