<extend name="Public:base" />
<block name="body">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">用户列表</li>
        </ul>
        <div class="layui-tab-content">
            <form class="layui-form layui-form-pane" action="{:U('Admin/User/index')}" method="get">
                <div class="layui-form-pane">
                    <div class="layui-input-inline">
                        <div class="layui-input-inline">
                            <select name="field_name">
                                <option value="u.id"<?php if($field_name == 'u.id'): ?> selected<?php endif; ?>>ID</option>
                                <option value="u.openid"<?php if($field_name == 'u.openid'): ?> selected<?php endif; ?>>openid</option>
                                <option value="u.nickname"<?php if($field_name == 'u.nickname'): ?> selected<?php endif; ?>>昵称</option>
                                <option value="u.mobile"<?php if($field_name == 'u.mobile'): ?> selected<?php endif; ?>>手机号</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">等级</label>
                        <div class="layui-input-inline">
                            <select name="level_id">
                                <option value="-1">不限</option>
                                <option value="0"<?php if($level_id == 0): ?> selected<?php endif; ?>>普通用户</option>
                                <volist name="user_level_list" id="vo">
                                <option value="{$vo.id}"<?php if($level_id == $vo['id']): ?> selected<?php endif; ?>>{$vo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">注册时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="start_date" id="start_date" value="{$start_date}" class="layui-input layer-date" placeholder="请选择开始日期">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="end_date" id="end_date" value="{$end_date}" class="layui-input layer-date" placeholder="请选择结束日期">
                        </div>
                    </div>
                </div>
                <div class="layui-form-pane" style="margin-top:5px">
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <select name="status">
                                <option value="-1">不限</option>
                                <option value="1"<?php if($status == 1): ?> selected<?php endif; ?>>启用</option>
                                <option value="0"<?php if($status == 0): ?> selected<?php endif; ?>>禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">搜索</button>
                        <a href="{:U('Admin/User/index')}" class="layui-btn layui-btn-normal">重置</a>
                    </div>
                </div>
            </form>
            <hr>
            <form action="" method="post" class="ajax-form">
                <button type="button" class="layui-btn layui-btn-small ajax-action" data-action="{:U('Admin/User/batchUpdate',['_action'=>'statusToggle','status'=>1])}">批量启用</button>
                <button type="button" class="layui-btn layui-btn-warm layui-btn-small ajax-action" data-action="{:U('Admin/User/batchUpdate',['_action'=>'statusToggle','status'=>0])}">批量禁用</button>
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th style="width:15px">
                                    <input type="checkbox" class="check-all">
                                </th>
                                <th>用户</th>
                                <th>用户等级</th>
                                <th>推荐人ID</th>
                                <th>积分</th>
                                <th>云币</th>
                                <th>注册&登录&关注</th>
                                <th>
                                    状态<br>
                                    关注状态
                                </th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="user_list" id="vo">
                            <tr>
                                <td>
                                    <input type="checkbox" name="ids[]" value="{$vo.id}">
                                </td>
                                <td>
                                    <div class="layui-input-inline" style="padding:10px">
                                        <img src="{:get_user_avatar($vo['avatar'])}" alt="{$vo.nickname}" width="50">
                                    </div>
                                    <div class="layui-input-inline">
                                        <p class="ptb2">昵称：{$vo.nickname}</p>
                                        <p class="ptb2">手机号：{$vo.mobile|default='--'}</p>
                                    </div>
                                </td>
                                <td>
                                    {$vo.level_name|default='普通用户'}
                                    <a href="javascript:;" data-url="{:U('Admin/User/editLevel',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini edit-level">修改</a>
                                </td>
                                <td>
                                    <?php if($vo['recommender_id'] != 0): ?>
                                    <div class="layui-input-inline" style="padding:10px">
                                        <img src="{:get_user_avatar($vo['recommender_avatar'])}" title="{$vo.recommender_id}" alt="{$vo.recommender_nickname}" width="50">
                                    </div>
                                    <?php else: ?>
                                    无上级
                                    <?php endif; ?>
                                    <div class="layui-input-inline">
                                        <a href="javascript:;" data-url="{:U('Admin/User/editRecommender',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini edit-recommender">修改</a>
                                    </div>
                                </td>
                                <td>{$vo.integral}</td>
                                <td>￥{$vo.money}</td>
                                <td>
                                    <p class="ptb2">注册时间：{$vo.reg_time}</p>
                                    <p class="ptb2">最后登录：{$vo.last_login_time}</p>
                                    <p class="ptb2">关注时间：{$vo.subscribe_time|default='--'}</p>
                                </td>
                                <td>
                                    <p class="ptb2"><?php echo $vo['status'] == 1 ? '启用' : '禁用'; ?></p>
                                    <p class="ptb2"><?php echo $vo['subscribe'] == 1 ? '已关注' : '未关注'; ?></p>
                                </td>
                                <td>
                                    <p class="ptb2">
                                        <a href="javascript:;" data-url="{:U('Admin/User/detail',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini detail">用户详情</a>
                                    </p>
                                    <p class="ptb2">
                                        <a href="javascript:;" data-url="{:U('Admin/UserIntegral/detail',['user_id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini integral-list">积分明细</a>
                                        <a href="javascript:;" data-url="{:U('Admin/UserMoney/detail',['user_id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini money-list">云币明细</a>
                                    </p>
                                    <p class="ptb2">
                                        <a href="javascript:;" data-url="{:U('Admin/UserIntegral/recharge',['user_id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini integral-recharge">积分调整</a>
                                        <a href="javascript:;" data-url="{:U('Admin/UserMoney/recharge',['user_id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini money-recharge">云币调整</a>
                                    </p>
                                </td>
                            </tr>
                            </volist>
                        </tbody>
                    </table>
                    {$page}
                </div>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function(){
            var start = {
                elem: '#start_date',
                min: '1900-01-01',
                max: '{$today_date}',
                istoday: false,
                choose: function (datas) {
                    end.min = datas;
                    end.start = datas;
                }
            };
            var end = {
                elem: '#end_date',
                min: '1900-01-01',
                max: '{$today_date}',
                istoday: false,
                choose: function (datas) {
                    start.max = datas;
                }
            };
            document.getElementById('start_date').onclick = function(){
                start.elem = this;
                laydate(start);
            };
            document.getElementById('end_date').onclick = function(){
                end.elem = this;
                laydate(end);
            };
            //修改等级
            $('.edit-level').on('click', function(){
                var _url = $(this).data('url');
                if (_url !== 'undefined') {
                   layer.open({
                     type: 2,
                     title: '修改等级',
                     content: _url,
                     area: ['30%', '30%']
                   });
                }
                return false;
            });
            //修改推荐人
            $('.edit-recommender').on('click', function(){
                var _url = $(this).data('url');
                if (_url !== 'undefined') {
                   layer.open({
                     type: 2,
                     title: '修改推荐人',
                     content: _url,
                     area: ['40%', '40%']
                   });
                }
                return false;
            });
            //用户详情
            $('.detail').on('click', function(){
                var _url = $(this).data('url');
                if (_url !== 'undefined') {
                   layer.open({
                     type: 2,
                     title: '用户详情',
                     content: _url,
                     area: ['90%', '90%']
                   });
                }
                return false;
            });
            //积分明细
            $('.integral-list').on('click', function(){
                var _url = $(this).data('url');
                if (_url !== 'undefined') {
                   layer.open({
                     type: 2,
                     title: '积分明细',
                     content: _url,
                     area: ['90%', '90%']
                   });
                }
                return false;
            });
            //云币明细
            $('.money-list').on('click', function(){
                var _url = $(this).data('url');
                if (_url !== 'undefined') {
                   layer.open({
                     type: 2,
                     title: '云币明细',
                     content: _url,
                     area: ['90%', '90%']
                   });
                }
                return false;
            });
            //积分调整
            $('.integral-recharge').on('click', function(){
                var _url = $(this).data('url');
                if (_url !== 'undefined') {
                   layer.open({
                     type: 2,
                     title: '积分调整',
                     content: _url,
                     area: ['50%', '50%']
                   });
                }
                return false;
            });
            //云币调整
            $('.money-recharge').on('click', function(){
                var _url = $(this).data('url');
                if (_url !== 'undefined') {
                   layer.open({
                     type: 2,
                     title: '云币调整',
                     content: _url,
                     area: ['50%', '50%']
                   });
                }
                return false;
            });
        });
    </script>
</block>