<extend name="Public:base" />
<block name="body">
    <section class="wrap wrap-bg" style="padding-bottom:50px">
        <section class="main">
            <a href="javascript:;" class="address_default m-list-flex">
                <div class="m-cell-bd">
                    <div class="m-list-flex m-list-flex1">
                        <span class="fs14 single-line m-cell-bd">收货人：张小叶</span>
                        <span class="fs14">12345678999</span>
                    </div>
                    <div class="fs14 mt10 m-list-flex m-arrow-right">
                        <div class="single-line  m-cell-bd"><b class="address_default_icon"></b>上海市徐汇区石龙路569号2号楼201室</div>
                        <div class="m-cell-rt"></div>
                    </div>
                </div>
            </a>
            <img src="images/add-line.png" alt="" class="imgm" />
            <ul class="mt20">
                <li>
                    <a href="javascript:;" class="buy_course m-list-flex bg_own relative bb_none">
                        <div class="pic-view ml0">
                            <img src="images/buy1.png" alt="" class="imgm" />
                        </div>
                        <div class="m-cell-bd pl10">
                            <h3 class="fs116 colf">超紧身健身女性均码全棉运 动裤运动衣</h3>
                            <h4 class="fs12">心理 <i></i>情感<i></i>励志</h4>
                            <h5 class="fs16 mt5"><i class="fs12">￥</i>98</h5>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="waysend bg_own mt15">
                <li class="m-list-flex">
                    <span>配送方式</span>
                    <div class="m-cell-bd">
                        <input type="text" value="快递免邮" class="form-unify tr" />
                    </div>
                </li>
                <li class="m-list-flex">
                    <span>店铺优惠</span>
                    <div class="m-cell-bd">
                        <input type="text" value="无" class="form-unify tr" />
                    </div>
                </li>
                <li class="m-list-flex">
                    <span>买家留言：</span>
                    <div class="m-cell-bd">
                        <input type="text" class="form-unify" placeholder="请填写内容......（选填）" />
                    </div>
                </li>
            </ul>
            <div class="topay_bottom m-list-flex">
                <div class="m-cell-bd single-line fs10 tr pr10">合计： <i class="fs14">198元</i></div>
                <a href="javascript:;" class="topay_btn">立即支付</a>
            </div>
        </section>
    </section>
</block>