<extend name="Public:base" />
<block name="body">
    <section class="wrap wrap-bg">
        <section class="main">
            <form id="form" method="post" action="{:U('Wx/Order/create')}" onsubmit="return checkForm()">
                <ul>
                    <li>
                        <a href="javascript:;" class="buy_course m-list-flex bg_own relative bb_none">
                            <div class="pic-view ml0">
                                <img src="__CDN__{$goods.thumb}" alt="" class="imgm" />
                            </div>
                            <div class="m-cell-bd pl10">
                                <h3 class="fs116 colf">{$goods.name}</h3>
                                <h4 class="fs12"><?php echo $goods_tag_list ? implode('<i></i>', $goods_tag_list) : ''; ?></h4>
                                <h5 class="fs16 mt5"><i class="fs12">￥</i><?php echo $userinfo['level_id'] == 0 ? $goods['sale_price'] : $goods['member_sale_price'] ; ?></h5>
                            </div>
                        </a>
                    </li>
                </ul>
                <h3 class="fs12 col9 paytit">支付方式</h3>
                <ul class="payway-list">
                    <volist name="payment_list" id="vo">
                    <li data-value="{$key}" class="m-list-flex payment-item">
                        <i><img src="__PUBLIC__/Wx/images/{$key}.png" alt="" class="imgm" /></i>
                        <h4 class="fs14 col_own m-cell-bd">{$vo.name}</h4>
                        <span></span>
                    </li>
                    </volist>
                </ul>
                <div class="topay_bottom m-list-flex">
                    <div class="m-cell-bd single-line fs10 tr pr10">合计： <i class="fs14"><?php echo $userinfo['level_id'] == 0 ? $goods['sale_price'] : $goods['member_sale_price'] ; ?>元</i></div>
                    <button type="submit" class="topay_btn" style="border:none;cursor:pointer">立即支付</button>
                </div>
                <input type="hidden" name="goods_id" id="goods-id" value="{$goods.id}" />
                <input type="hidden" name="payment_type" id="payment-type" />
            </form>
        </section>
    </section>
</block>
<block name="js">
    <script src="__PUBLIC__/plugins/jquery.form.js"></script>
    <script src="__PUBLIC__/Common/js/utils.js"></script>
</block>
<block name="script">
    <script>
        /**
         * 表单验证
         */
        function checkForm() {
            var paymentType = $('#payment-type').val();
            if (!paymentType) {
                $.alert('请选择支付方式');
                return false;
            }
            return true;
        }
        /**
         * 打开微信支付
         */
        function openWxPay(param, url) {
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                'appId': param.appId,
                'timeStamp': param.timeStamp,
                'nonceStr': param.nonceStr,
                'package': param.package,
                'signType': param.signType,
                'paySign': param.paySign
            }, function (res) {
                WeixinJSBridge.log(res.err_msg);
                if (res.err_msg == 'get_brand_wcpay_request:ok') {
                    $.alert('支付成功', function () {
                        location.replace(url);
                    });
                } else if (res.err_msg == 'get_brand_wcpay_request:cancel') {
                    $.alert('支付取消', function () {
                        location.replace(url);
                    });
                } else if (res.err_msg == 'get_brand_wcpay_request:fail') {
                    $.alert('支付失败', function () {
                        location.replace(url);
                    });
                } else {
                    $.alert(res.errMsg, function () {
                        location.replace(url);
                    });
                }
            });
        }
        $(function () {
            //选择支付方式
            $('.payment-item').on('click', function(){
                var $this = $(this),
                    paymentType = $this.data('value');
                $('.payment-item').find('span').removeClass('show');
                $this.find('span').addClass('show');
                $('#payment-type').val(paymentType);
            });
            //表单提交
            var options = {
                beforeSubmit: function () {
                    $.showLoading();
                },
                success: function (data) {
                    $.hideLoading();
                    if (data.status === 1) {
                        if (data.info.payment_status) {
                            if (data.info.payment_type == 'alipay') {
                                //todo_list
                            } else if (data.info.payment_type == 'wxpay') {
                                openWxPay(data.info.payment_info, data.url);
                            }
                        } else {
                            $.alert('支付失败', function () {
                                location.replace(data.url);
                            });
                        }
                    } else {
                        $.alert(data.info);
                    }
                },
                clearForm: false
            };
            $('#form').ajaxForm(options);
        });
    </script>
</block>